<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="Confluent.Kafka" version="1.7.0" targetFramework="net461" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="CsvHelper" version="27.1.1" targetFramework="net461" requireReinstallation="true" />
  <package id="DnsClient" version="1.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Gurux.Common" version="8.1.2106.1701" targetFramework="net461" />
  <package id="Gurux.Communication" version="7.0.19.1" targetFramework="net461" />
  <package id="Gurux.DLMS" version="9.0.2108.2601" targetFramework="net461" />
  <package id="Gurux.Net" version="8.1.2106.1701" targetFramework="net461" />
  <package id="Gurux.Serial" version="8.1.2106.1701" targetFramework="net461" />
  <package id="InfluxDB.Client" version="3.0.0-dev.3726" targetFramework="net461" />
  <package id="InfluxDB.Client.Core" version="3.0.0-dev.3726" targetFramework="net461" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net461" requireReinstallation="true" />
  <package id="librdkafka.redist" version="1.8.0-TST2" targetFramework="net461" />
  <package id="LiteGuard" version="2.2.0" targetFramework="net461" />
  <package id="MailKit" version="2.15.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.0-preview.7.21378.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="MimeKit" version="2.15.0" targetFramework="net461" requireReinstallation="true" />
  <package id="MongoDB.Bson" version="2.13.1" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.13.1" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.13.1" targetFramework="net461" />
  <package id="MongoDB.Libmongocrypt" version="1.2.2" targetFramework="net461" />
  <package id="morelinq" version="3.3.2" targetFramework="net461" />
  <package id="MQTTnet" version="3.0.16" targetFramework="net461" />
  <package id="MQTTnet.Extensions.ManagedClient" version="3.0.16" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NodaTime" version="3.0.5" targetFramework="net461" />
  <package id="NodaTime.Serialization.JsonNet" version="3.0.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net461" />
  <package id="Quartz" version="3.3.3" targetFramework="net461" requireReinstallation="true" />
  <package id="RestSharp" version="106.12.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.0-rc1" targetFramework="net461" requireReinstallation="true" />
  <package id="SharpCompress" version="0.28.3" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Http.WinHttpHandler" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="6.0.0-preview.5.21301.5" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Permissions" version="6.0.0-preview.7.21377.19" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Telnet" version="0.9.0-beta0001" targetFramework="net461" />
</packages>